/* Variables */

:root {
  --header-color: rgba(0, 0, 0, 0.0001);
  --dark-header-color: #293449;
  --light-header-color: #32425C;
  --checkout-color: #63A63E;
  --basic-red: #EE3643;
  --basic-white: #ffffff;
  --basic-black: #000000;
  --button-white: #F3F7F9;
  --materials:  #FFBF47;
  --instrument: #3BBCE3;
  --technic: #DC91D8;
  --discounts: #8ED78F;
  --delivery: #FFC047;
  --popular-goods-top-block-color: #F9F5F0;
  --popular-goods-card-product-color: #EAEAEA;
  --popular-goods-card-product-old-price-color: #A9A9A9;
  --services-background-color: #F1F5F7;
  --service-button-shadow-color: #405069;
  --footer-center-block-menu: #FFD180;
  --dark-red: #BA2732;
  --light-green: #5FBB2D;
  --dark-green: #367315;
  --header-login: #3D546F;
  --light-grey: #C5C5C5;
  --red-button-bg: #CA2C37;
  --buy-active: #518534;
  --modal-bg: #F4F4F4;
  --modal-button: #F1F1F1;
  --catalog-heading: #F7F3EC;
  --filter-hover: #B5B5B5;
  --filter-button: #E5E5E5;
  --social-bg: #212A3A;
  --range-control: #d7dcde;
  --range-control-green: #00ca74;
  --range-control-toggle: #ababab;
  --price-color: #283136;
  --range-controls: #cfcfcf;
}

/* Global */

.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0 10px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-white);
  min-height: 100%;
  box-sizing: border-box;

  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.wrapper {
  width: 940px;
  margin: 0 auto;
}
p {
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: var(--basic-white);
}
img {
  max-width: 100%;
  height: auto;
}
li {
  list-style: none;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
address {
  font-style: normal;
  font-size: 18px;
}
/*Header*/

.header {
  background-color: var(--header-color);
 }


/*Верхний блок хедера*/
.header-top-block {
  background-color: var(--dark-header-color);
}
.header-top-block .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: var(--basic-white);
}

/*Логотип в верхнем блоке хедера*/
.header-logo {
  background-color: var(--basic-red);
  padding: 20px 56px 10px 56px;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  height: 23px;
  margin-top: -9px;
}
.header-logo:active {
  background: var(--dark-red);
}
/*Поиск в верхнем блоке хедера*/
.search-form {
  /*padding-right: 97px;
  padding-left: 12px;*/
  position: relative;
  min-width: 269px;
  outline: 1px solid red;
}
.search-button {
  background-color: var(--dark-header-color);
  border: none;
  padding: 0;
  padding-left: 17px;
  padding-top: 2px;
  position: absolute;
  top: 10px;
}
.search-button path {
  fill: rgba(255, 255, 255, 0.5);
}
.search-form input{
  background-color: var(--dark-header-color);
    border: none;
    padding-top: 13px;
    padding-left: 41px;
}
.search-form input::placeholder {
  background-color: var(--dark-header-color);
  border: none;
  font-size: 18px;
  color: var(--basic-white);
}
.search-form path:hover {
  fill: rgba(255, 255, 255, 1);
}
.search-form:focus,
.search-button:focus,
.search-form input:focus,
.search-form input:focus::placeholder {
  background-color: var(--basic-white);
  color: var(--basic-black);
  outline: none;
}
.search-button path:focus {
  fill: var(--basic-red);
}
/*Юзерменю в верхнем блоке хедера*/
.user-navigation {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-size: 18px;
}
.user-navigation li {
  padding: 10px 0;
}
user-navigation a {
  position: relative;
}
.header-bookmarks,
.header-basket {
  position: relative;
}
.header-basket {
  padding-right: 28px;
  padding-left: 48px;
}

.header-bookmarks {
  padding-right: 26px;
  padding-left: 42px;
}
.header-bookmarks-added {
  background-color: #EE3643;
}
.header-bookmarks::before {
  content: "";
  position: absolute;
  background-image: url("../img/icons/icon-bookmark.png");
  width: 14px;
  height: 16px;
  left: 20px;
  top: 1px;
  opacity: 0.5;
}
.header-basket::before {
  content: "";
  position: absolute;
  background-image: url(../img/icons/icon-cart.svg);
  width: 15px;
  height: 15px;
  left: 25px;
  top: 1px;
  opacity: 0.5;
}
.header-basket-added{
  background-color: #EE3643;
}
.header-bookmarks:hover:before,
.header-basket:hover:before {
  opacity: 1;
}
.header-bookmarks:active,
.header-basket:active {
  opacity: 0.5;
}
.header-checkout {
  padding: 12px 16px 12px 19px;
  background-color: var(--checkout-color);
  width: 150px;
}
.header-checkout:hover {
  background-color: var(--light-green);
}
/*Центральный блок хедера*/
.header-central-block-bg {
  background-color: var(--services-background-color);
  padding-bottom: 60px;
}
.header-central-block {
  display: grid;
  gap: 20px;
  grid-template-columns: 4fr 4fr 4fr;
  grid-template-rows: 156px;
  align-items: center;
}
.header-central-block .header-login,
.header-central-block .header-registration,
.header-central-block .header-user,
.contacts-phone {
  font-size: 21px;
  line-height: 21px;
  background: var(--button-white);
  border: 3px solid var(--basic-white);
  position: relative;
}
.header-description {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
  padding-left: 30px;
  margin: 0;
}
.header-contacts {
  margin-top: 16px;
}
.contacts-phone {
  font-weight: 700;
  color: var(--basic-red);
  line-height: 30px;
  padding: 7px 42px 8px 74px;
}
.contacts-phone::before {
  content: "";
  position: absolute;
  background-image: url("../img/icons/icon-phone.png");
  width: 19px;
  height: 19px;
  left: 35px;
  top: 10px;
}
.contacts-address {
  font-size: 14px;
  margin-top: 5px;
  padding-top: 7px;
  color: var(--light-header-color);
  margin-left: 10px;
}

.header-authorization {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-top: -20px;
}
.header-authorization .header-login,
.header-authorization .header-registration,
.header-authorization .header-user {
  color: var(--basic-black);
  padding-top: 10px;
  padding-bottom: 12px;
}
.header-login {
  padding-right: 20px;
  padding-left: 20px;
}
.header-login:hover,
.header-registration:hover {
  color: var(--basic-red);
}
.header-login:hover svg {
  fill: var(--header-login);
}
.header-login:active,
.header-registration:active {
  color: var(--light-grey);
}

.header-registration {
  padding-right: 22px;
  padding-left: 24px;
  margin-left: 10px;
}

/*Меню в хедере*/

.main-navigation ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: var(--light-header-color);
  font-size: 18px;
  margin: 0;
  padding: 0;
  list-style: none;
  min-height: 60px;
  box-shadow: inset 0px -5px 0px var(--dark-header-color);
  box-sizing: border-box;

}
.main-navigation li {
  display: inline;
  padding: 16px 28px;
}
.main-navigation li:first-child {
  padding-left: 53px;
}
.main-navigation li:last-child {
  padding-right: 56px;
}
.main-navigation a {
  padding: 16px auto;
}
.header-main-navigation li:hover {
  background-color: var(--dark-header-color);
}
.header-main-navigation li:active {
  opacity: 0.5;
}
/*Main*/

/*Промо-блок*/

.promo-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 123px 123px 123px;
  gap: 20px;
  margin-top: 59px;
  margin-bottom: 60px;
}
.slider-content {
  grid-column: 1 / 3;
  grid-row: 2 / -1;
}
.slider-item {
  width: 620px;
  min-height: 266px;
  background-color: var(--light-header-color);
}
.slider-1 {
  background-image: url(../img/perforator.jpg);
}
.slider-2 {
  background-image: url(../img/Object-2.jpg);
}
.slider-item-top-block {
  min-height: 104px;
  background: rgba(0, 0, 0, 0.25);
  margin-bottom: 18px;
}
.slider-item-top-block h3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
  margin: 0 24px;
  padding-top: 23px;
}
.slider-item-top-block p {
  font-size: 18px;
  margin-left: 24px;
  margin-top: 5px;
}
.slider-item-button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.slider-buttons{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 34px;
}
.button-left {
  margin-left: 18px;
  background-color: none;
}
.button-rught {
  margin-right: 15px;
  background-color: none;
}
.red-button-link {
  width: 192px;
  height: 32px;
  background-color: var(--basic-red);
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 7px;
  display: block;
}
.red-button-link:hover {
  background-color: var(--red-button-bg);
}
.red-button-link:active {
  background-color: var(--dark-red);
}
.red-button-link-slider {
  margin-left: 24px;
}

/*Навигация по каталогу*/

.promo-block-item {
  padding-left: 23px;
  padding-top: 20px;
  position: relative;
  overflow: hidden;
}
.promo-block-item h3 {
  margin: 0;
  margin-top: 3px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.promo-block-item-button {
  display: block;
  width: 122px;
  min-height: 28px;
  padding-top: 5px;
  margin-top: 14px;
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  padding-right: 10px;
}
.promo-block-item-button:hover {
  background-color: rgba(197,197,197,0.3);
}
.promo-block-item-button:active {
  background-color: rgba(169,169,169,0.3);
}
.materials {
  background: var(--materials)  url(../img/icons/icon-bucket.svg) no-repeat 83% 54%;
}
.instrument {
 background: var(--instrument) url(../img/icons/icon-drill.svg) no-repeat 86% 56%;
}
.technic {
  background: var(--technic)  url(../img/icons/icon-tractor.svg) no-repeat 86% 53%;
}
.discounts {
  background: var(--discounts)  url(../img/icons/icon-basket.svg) no-repeat 81% 50%;
}
.delivery {
  background: var(--delivery)  url(../img/icons/icon-truck.svg) no-repeat 86% 53%;
}
.new::after {
  content: "";
  position: absolute;
  background-image: url("../img/icons/new-flag.png");
  width: 70px;
  height: 70px;
  right: 0;
  top: 0;
  z-index:99999999;
}
/*Популярные товары*/

.popular-goods {
  width: 100%;
  min-height: 427px;
}
.popular-goods-top-block,
.catalog-h1 {
  grid-column: 1 / -1;
  grid-template-columns: 89px;
  background-color: var(--popular-goods-top-block-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  padding-left: 28px;
  padding-right: 14px;
}
.popular-goods-top-block h2,
.services h2,
.tabcontent h3,
.about-company h2,
.contacts-company h2,
.catalog-h1 {
  box-sizing: border-box;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  color: var(--light-header-color);
  text-transform: uppercase;
}
.popular-goods-top-block h2 {
  margin-top: 29px;
  margin-bottom: 29px;
}
.popular-goods-top-block a {
  margin-top: 23px;
}
.popular-producers a {
  margin-right: 5px;
}
.popular-goods ul,
.popular-producers-list {
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  grid-template-rows: auto;
  gap: 20px;
  padding-left: 0;
}
.popular-goods-card-product {
  border: 1px solid var(--popular-goods-card-product-color);
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  text-align: center;
  position: relative;
  overflow: hidden;
  padding-bottom: 21px;
}
.popular-goods-card-product:hover .popular-goods-card-product-image-back  {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  top: 0;
  left: 0px;
  position: absolute;
  background-color: white;
  width: 100%;
  min-height: 100px;
  padding-top: 37px;
  padding-left: 43px;
}
.popular-goods-card-product a {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.popular-goods-card-product-image  {
  vertical-align: middle;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  margin-top: 6px;
  justify-content: center;
  min-height: 164px;
}
.popular-goods-card-product-image.front:hover {
  /*display: none;
  position: absolute;*/
}

.popular-goods-card-product-image-back {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
}
.popular-goods-card-product-image-back:hover {

}
.buy {
  padding: 10px 7px 10px 22px;
  background: var(--checkout-color);
  box-shadow: inset 0px -3px 0px var(--dark-green);
  border-radius: 2px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  max-width: 135px;
  box-sizing: border-box;

}
.buy::before {
  content: "";
  position: absolute;
  background-image: url(../img/icons/icon-cart.png);
  width: 15px;
  height: 15px;
  left: 70px;
  top: 35%;
  opacity: 0.5;
}
.buy:hover {
  background: var(--light-green);
  box-shadow: inset 0px -3px 0px var(--dark-green);
}
.buy:active {
  background: var(--buy-active);
  box-shadow: inset 0px -3px 0px var(--dark-green);
}
.to-bookmarks {
  border: 3px solid var(--checkout-color);
  color: var(--light-header-color);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  max-width: 135px;
  box-sizing: border-box;
  margin-top: 10px;
  padding: 7px 24px;

}
.to-bookmarks:hover {
  border: 3px solid  var(--light-header-color);
}
.to-bookmarks:active {
  border: 3px solid  var(--light-header-color);
  opacity: 0.5;
}
.popular-goods-card-product:hover,
.popular-producers-item:hover {
  box-shadow: 0 0 12px var(--popular-goods-card-product-color);
}
 .popular-goods-card-product h3 {
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
  max-width: 185px;
  margin: 13px auto 0 auto;
 }
.popular-goods-card-product-old-price {
  font-size: 17px;
  line-height: 18px;
  color: var(--popular-goods-card-product-old-price-color);
  margin-top: 7px;
  margin-bottom: 13px;
  min-height: 18px;
}
.popular-goods-card-product-button {
  width: 120px;
  margin-left: 44px;
  text-align: left;
  padding: 6px 5px 9px 35px;
  background-color: red;
  box-sizing: border-box;
  position: relative;
}
.popular-goods-card-product-button::after {
  position: absolute;
  content: "";
  border-top: 19px solid transparent;
  border-left: 20px solid red;
  border-bottom: 19px solid transparent;
  top: 0;
  right: -20px;
}
/*Популярные производители*/
.popular-producers {
  margin-top: 70px;
}
.popular-producers-item {
  border: 1px solid var(--popular-goods-card-product-color);
  min-height: 145px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.popular-producers-item:active {
  opacity: 0.5;
}
.popular-producers-item a {
  text-align: center;
  margin: 0 auto;
}
.popular-producers-list {
  margin-top: 20px;
}
 /*Сервисы*/

.services {
  width: 100%;
  min-height: 522px;
  background-color: var(--services-background-color);
  color: var(--basic-black);
  margin-top: 67px;
}
.services h2 {
  color: var(--basic-black);
  padding-top: 64px;
}
.services p,
.about-company p,
.contacts-company p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 69px;
}

.services-tab {
  float: left;
  width: 25%;
  min-height: 183px;
  position: relative;
}
.services-tab::after {
  content: "";
  position: absolute;
  background-image: url(../img/icons/vertical-shadow.png);
  width: 10px;
  height: 279px;
  right: -4px;
  top: -40px;
}
.services-tab button {
  display: block;
  background-color: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  padding-left: 22px;
  padding-top: 13px;
  padding-bottom: 18px;
  width: 102%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  background-color: var(--light-header-color);
  box-shadow: 0px 1px 0px var(--dark-header-color), inset 0px 1px 0px var(--service-button-shadow-color);
}
.services-tab button:hover {
  background: var(--dark-header-color);
  box-shadow: 0px 1px 0px var(--dark-header-color), inset 0px 1px 0px var(--service-button-shadow-color);
}
.services-tab button.active {
  background: var(--basic-white) ;
  box-shadow: 0px 1px 0px var(--basic-white);
  color: var(--light-header-color);
}
.tabcontent {
  float: left;
  padding: 0;
  padding-left: 24px;
  border: 1px solid inherit;
  border-left: none;
  width: 619px;
  min-height: 283px;
  margin-left: 60px;
}
#Delivery {
  background: url(../img/delivery.png) no-repeat 100% 20px;
}
#Guarantee {
  background: url(../img/bg-garanty.png) no-repeat 100% 20px;
}
#Credit {
  background: url(../img/bg-credit.png) no-repeat 100% 20px;
}
.tabcontent h3 {
  margin-top: 0;
}

/*О компании*/
.company-information {
  color: var(--basic-black);
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 47px;
}
.about-company {
  flex-basis: 460px;
  margin-right: 180px;
}
.about-company h2,
.contacts-company h2 {
  color: var(--basic-black);
  padding-top: 45px;
}
.about-company h2 {
  margin-bottom: 23px;
}
.about-company p,
.contacts-company p {
  margin-bottom: 0;
}
.about-company .indent {
  margin-bottom: 27px;
}
.about-company ul {
  margin: 0;
  margin-top: 2px;
  margin-bottom: 7px;
  padding: 0;
}
.about-company li {
  font-size: 18px;
  padding-bottom: 12px;
  padding-left: 36px;
  background: url(../img/icons/dot.png) no-repeat 0 11px;
}
.about-company .red-button-link {
  width: 220px;
}
.contacts-company .map {
  width: 300px;
  height: 158px;
  margin-top: 32px;
  margin-bottom: 24px;

}
.contacts-company .red-button-link {
  width: 300px;
}

/*Футер*/
footer {
  margin-top: 22px;
}
.footer-main-block {
  background-color: var(--light-header-color);
  min-height: 193px;
}
.footer-top-block,
.footer-center-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-logo {
  background-color: var(--basic-red);
  padding-top: 20px;
  padding-left: 41px;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  height: 48px;
  width: 179px;
  margin-right: 100px;
}
.footer-navigation,
.footer-navigation-second {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding-left: 0;
  flex: 1 0 30%;
  margin: 0;
  margin-top: 32px;
  font-size: 18px;
}
.footer-navigation-second li {
  margin-top: 15px;
  margin-left: 60px;
}
.footer-navigation li {
  margin-top: 6px;
  padding: 0px 29px 0;
}
.footer-navigation li:last-child {
  padding-right: 0;
}
.footer-navigation li:first-child {
  padding-left: 0;
}
.footer-navigation li:hover,
.footer-navigation-second li:hover {
  text-decoration-line: underline;
}
.footer-navigation li:active,
.footer-navigation-second li:active {
  opacity: 0.5;
  text-decoration: none;
}
.footer-center-block {
  margin-top: 13px;
}
.footer-center-block a {
  color: var(--footer-center-block-menu);
  font-size: 18px;

}
.footer-center-block ul {
  margin: 0 auto;
}
footer .main-navigation li:first-child,
.footer-navigation li:first-child {
  margin-left: 0;
}
.footer-center-block p {
  margin: 0;
  font-size: 18px;
  color: var(--button-white);
  margin-right: 91px;
}
.footer-contacts {
  display: flex;
  flex-direction: column;
  margin-top: 11px;
}
.footer-bottom-block {
  background-color: var(--dark-header-color);
  min-height: 107px;

}
.footer-bottom-block .wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.copyright {
  margin: 0;
  line-height: 18px;
  margin-top: 33px;
}

.social-networks {
  position: relative;
  margin-left: 43px;
  width: 134px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 32px;
}


.links {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-right: 10px;
  margin-top: 28px;
}

.links a {
  color: var(--footer-center-block-menu);
}
.links a:active {
  color: var(--basic-red);
}
.links .feedback {
  line-height: 18px;
}
.links .developed {
  margin-left: 51px;
  margin-right: 5px;
  line-height: 18px;
}
/* Modal */

.modal {
  margin: auto;
  color: var(--basic-black);
  background-color: var(--basic-white);
  border-top: 7px solid var(--basic-red);
  box-shadow: 0 0 12px var(--basic-black);
  position: relative;
}
.modal p {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
}
.form_item {
  font-size: 18px;

}
/* Modal map */
.modal-map {
  display: none;
  height: 449px;
  width: 943px;
  position: fixed;
  bottom: 10%;
  left: 20%;
}

/* Modal email */
.modal-email {
  display: none;
  box-sizing: border-box;
  height: 430px;
  width: 620px;
  padding-top: 46px;
  padding-left: 80px;
  padding-right: 80px;
  background-image: linear-gradient(var(--basic-white) 74%, var(--modal-bg) 26%);
  position: fixed;
  bottom: 10%;
  left: 30%;
}
.modal-email-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.modal-email-top p {
  width: 220px;
  margin-bottom: 15px;
}
.modal-email-top input {
  padding: 10px;
  margin-top: 10px;
  border: 2px solid var(--light-grey);
  border-radius: 2px;
}
.modal-email-top input::placeholder {
  font-size: 13px;
  line-height: 24;
  color: var(--popular-goods-card-product-old-price-color);
}
textarea {
  height: 114px;
  border: 2px solid var(--light-grey);
  border-radius: 2px;
}
textarea::placeholder {
  font-size: 13px;
  line-height: 24;
  color: var(--popular-goods-card-product-old-price-color);
}
.modal .red-button-link {
  font-size: 14px;
  color: var(--basic-white);
  text-transform: uppercase;
  width: 460px;
  margin-top: 74px;
  border: none;
}
.modal-error {
  animation: shake 0.6s;
}
.modal-show {
  display: block;
  animation: bounce 0.6s;
}

/*modal-busket*/
.modal-busket {
  height: 282px;
  width: 620px;
  box-sizing: border-box;
  position: fixed;
  bottom: 10%;
  left: 30%;
  padding-top: 70px;
  text-align: center;
  display: none;
}
.modal-busket p {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  position: relative;
  padding-bottom: 68px;
}
.modal-busket p::before {
  content: "";
  position: absolute;
  background: url(../img/icons/icon-mark.png);
  top: -20px;
  left: 82px;
  width: 66px;
  height: 66px;
}
.modal-busket-buttons {
  display: flex;
  justify-content: center;
  background: var(--modal-button);
  padding-bottom: 39px;
}
.modal-busket-buttons .red-button-link {
  width: 192px;
  margin: 0;
  margin-top: 36px;
}
.modal-busket-buttons .red-button-link:first-child {
  margin-right: 10px;
}
.modal-busket-buttons .white {
  background: var(--basic-white);
  color: var(--basic-black);
}
/* Modal close */

.modal-close {
  position: absolute;
  top: 14px;
  right: 11px;
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 19px;
  height: 3px;
  background-color: var(--basic-red);
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}
.header-authorization .header-user {
  background: var(--basic-white);
  padding-left: 54px;
  padding-right: 54px;
}
.authorized-user-block {
  display: flex;
  flex-direction: row;
  position: relative;
}
.header-user::before {
  content: "";
  position: absolute;
  background-image: url(../img/icons/icon-man.png);
  width: 20px;
  height: 18px;
  left: 13px;
  top: 10px;
  opacity: 0.5;
}
.deauthorization::after {
  content: "";
  position: absolute;
  background-image: url(../img/icons/icon-user.png);
  width: 20px;
  height: 18px;
  right: 20px;
  top: 13px;
  opacity: 0.5;
}
.header-user:hover:before,
.deauthorization:hover:after {
  opacity: 1;
}
.header-user:active,
.deauthorization:active {
  color: var(--basic-black);
  opacity: 0.3;
}
.header-user-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px auto 8px auto;
  padding: 0;
}
.header-user-links a {
  color:  var(--light-header-color);
}
.header-user-links li {
  position: relative;
  margin-right: 10px;
}
.header-user-links li:last-child {
  margin-right: 0;
}
.header-user-links a:hover {
  color: var(--basic-red);
}
.header-user-links a:active {
  color: var(--light-grey);
}
.catalog-authorization {
  margin-top: 15px;
}
.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}
.breadcrumbs a {
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
}
.breadcrumbs li {
  margin-right: 18px;
}
.breadcrumbs li:last-child {
  margin-right: 0;
}
.catalog-h1 {
  padding-top: 29px;
  padding-bottom: 29px;
}

/**/
.catalog {
  color: var(--basic-black);
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: 38px 1fr;
  align-content: start;
  column-gap: 20px;

}
.catalog-heading {
  background: var(--catalog-heading);
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
  padding-right: 14px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
}
.catalog-filter {
  grid-row: 1;
  grid-column: 1;

}
.catalog-sorting {
  grid-row: 1;
  grid-column: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 28px;
  min-height: 38px;
  box-sizing: border-box;
}
.catalog-sorting p {
  margin: 0;
}
.catalog-filters {

  grid-row: 2 / -1;
  grid-column: 1;
}
.catalog-items {

  grid-row: 2 / -1;
  grid-column: 2;
}
.catalog-items h3 {
  margin: 8px auto;
}
.catalog-direction {
  padding-left: 46px;
}
.catalog-direction .active {
  margin-top: 6px;
}
.direction-left {
  transform: rotate(-180deg);
  cursor: pointer;
}
.direction-left path,
.direction-right path {
  fill: var(--light-grey);
}
.direction-right {
  margin-left: 18px;
  cursor: pointer;
}
.direction-left:hover path,
.direction-right:hover path {
  fill: var(--basic-black);
}
.active {
  color:  var(--basic-red);
}
.active path {
  fill:  var(--basic-red);
}
.sorting-items {
  color: var(--light-grey);
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.sorting-items a {
  color: var(--light-grey);
}
.sorting-items:hover,
.sorting-items:hover .active {
  color: var(--basic-black);
}
.sorting {
  margin-left: 68px;
  cursor: pointer;
  background-image: linear-gradient(to right, red 50%, transparent 50%);
  background-position: 0 1.3em;
  background-repeat: repeat-x;
  background-size: 2px 1px;

}
.sorting:hover {
  background-image:  linear-gradient(red, red);
  background-position: 0 1.3em;
  background-repeat: no-repeat;
  background-size: 100% 1px;

}
.sorting:active {
  background: none;
  color:  var(--basic-red);
}
.sorting.active {
  background: none;
}

/* Каталог - карточки товара*/
.catalog-items-list,
.catalog-pagination {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 50px;
}
.catalog-items .popular-goods-card-product {
  box-sizing: border-box;
  margin-right: 18px;
  margin-bottom: 19px;
  position: relative;
  width: 220px;

}
.catalog-items .popular-goods-card-product:nth-child(3n) {
  margin-right: 0;
}
.catalog-items .popular-goods-card-product-button {
  color: var(--basic-white);
}
.catalog-filters legend {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  font-family: PT Sans;
  margin-left: 2px;
}
.filter-item {
  margin: 0;
  padding: 0;
  border: none;
  margin-top: 15px;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.range-filter {
  width: 220px;
  margin-top: 13px;
}
.range-controls {
  height: 41px;
  background-color: var(--modal-button);
  border-radius: 5px;
  margin-bottom: 5px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  position: relative;
}
.range-controls .scale {
  height: 2px;
  background: var(--range-control);
}
.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--range-control-green);
}
.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--range-control-toggle);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--range-controls);
  cursor: pointer;
}
.range-controls .toggle-min {
  left: 18px;
}
.range-controls .toggle-max {
  left: 160px;
}
.price-controls {
  display: flex;
  justify-content: space-between;
}
.price-controls label {
  text-transform: uppercase;
  font-size: 16px;
}
.price-controls input {
  box-sizing: border-box;
  width: 95px;
  padding: 10px;
  text-align: center;
  color: var(--price-color);
  border: none;
  border-radius: 5px;
  background: var(--modal-button);
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
}
.producers,
.power-supply {
  border: none;
  margin-top: 18px;
  margin-left: -1px;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}
.producers ul,
.power-supply ul {
  padding: 0;
  margin: 0;
  margin-top: 18px;
  padding-bottom: 27px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.power-supply ul {
  border-bottom: none;
  margin-top: 25px;
}
.producers li,
.power-supply li {
  margin-bottom: 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}
.producers li:last-child {
  margin-bottom: 0;
}
.filter-option label,
.filter-input-radio + label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  padding-left: 35px;
}
.filter-input-checkbox + label::before {
content: "";
  position: absolute;
  left: 2px;
  top: 0;
  width: 18px;
  height: 18px;
  border: 2px solid var(--light-grey);
  border-radius: 5px;
}
.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 2px;
  width: 22px;
  height: 17px;
  background: url("../img/icons/check-mark.svg");
}
.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: 0px;
  top: -2px;
  width: 15px;
  height: 15px;
  border: 5px solid var(--light-grey);
  border-radius: 50%;
}
.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 8px;
  width: 9px;
  height: 9px;
  background-color: var(--light-grey);
  border-radius: 50%;
}
.filter-input-radio:hover + label::before {
  border: 5px solid var(--filter-hover);
}
.filter-input-radio:hover + label::after {
  background-color: var(--filter-hover);
}
.filter-input-radio:disabled + label::before,
.filter-input-radio:disabled + label::after,
.filter-input-checkbox:disabled + label::before,
.filter-input-checkbox:disabled:checked + label::after,
.producers label:disabled,
.power-supply label:disabled {
  opacity: 0.4;
}
.filter-button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  width: 220px;
  background: var(--basic-white);
  border: 1px solid var(--filter-button);
  box-sizing: border-box;
  padding: auto;
  min-height: 38px;
  cursor: pointer;
}
.catalog-pagination {
  margin-bottom: 65px;
    margin-top: -14px;
}
.catalog-pagination a {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  width: 38px;
  height: 38px;
  padding: 10px 15px;
  background: var(--basic-white);
  border: 1px solid var(--filter-button);
  box-sizing: border-box;
  border-radius: 2px;
  margin-right: 10px;

}
.catalog-pagination .pagination-next {
  padding: 10px 30px;
}
.catalog-pagination a:active {
  border: 1px solid var(--basic-red);
}
.catalog-pagination .active {
  background: var(--basic-red);
  color: var(--basic-white);
}
.catalog-description {
  color: var(--basic-black);
  background: var(--services-background-color);
  padding-top: 42px;
  padding-bottom: 46px;
}
.catalog-description h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
}
.catalog-description p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}
.social-networks a {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background: var(--social-bg);
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-networks a:hover,
.social-networks a:active {
  background: var(--basic-red);;
}
/* Animations */

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
